
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    /*font-family : Open Sans;*/
    font-family: UTM Aptima;
    font-size: 16px;
    background-color: #FFFEDF;
    min-height: 100%;
}

body {
    border-top: 20px solid;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: 0;
    background-image: url("/img/natural_paper.png");
    background-repeat: repeat;
}

.container-narrow {
    margin: 0 auto;
    max-width: 640px;
    height: auto;
    min-height: 100%;
}

.center {
    text-align: center;
}

* {
    transition: all 0.45s ease 0s;
    -moz-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

/* HEADER */
header {
    background-color: #5A2E2E;
    color: #FFFEDF;
    padding-bottom: 5px;
}

header *::selection {
    background: #FFFEDF;
    color: #5A2E2E;
}

header *::-moz-selection {
    background: #FFFEDF;
    color: #5A2E2E;
}

header h4 {
    margin: 5px;
}

header .tagline {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 5px;
}

header .ornament {
    height: 50px;
}

header #brand {
    background: url("/img/header.png");
    width: 960px;
    height: 100px;
}

.tagline .row {
    padding-top: 2px;
    padding-bottom: 5px;
}

.nav-container {
    background-color: #5A2E2E;
    color: #FFFEDF;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0 3px 3px -3px #000;
}


.nav-container .navbar {
    margin: 0 auto;
    z-index: 888;
}

.navbar-inner {
    background-image: none;
    background-repeat: no-repeat;
    background-color: inherit;
    border: 0;
    text-align: center;
    min-height: 0;
}

.navbar-inner .nav {
    margin: 0 auto;
    float: none;
    width: 490px;
}

.navbar .nav > li {
    margin-left: 10px;
}

.navbar .nav > li > a {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*margin-bottom: -20px;*/
    color: #FFFEDF;
    font-size: 15px;
/*    border-top: 1px dotted #FFFEDF;
    border-bottom: 1px dotted #FFFEDF;*/
    text-shadow: none;
    font-weight: bold;
}

.navbar .nav > li > a:hover {
    background-color: #FFFEDF;
    color: #5A2E2E;
    font-weight: bold;
}

.navbar {
    margin: 0 auto;
}

.affix {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

/* CAROUSEL */
#myCarousel {
    margin: 0 auto 20px auto;
}

.carousel-control {
  position: absolute;
  top: 20%;
  left: 15px;
  width: 60px;
  height: 60%;
  font-size: 60px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #333;
  border: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  opacity: 0.0;
  filter: alpha(opacity=0);
}

.carousel-control:hover {
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel a {
    color: white;
}

/* INFO */
.divider {
    background-color: #DFBA69;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Content selection color */
.content *::selection {
    background: #DFBA69;
    color: #FFFEDF;
}

.content *::-moz-selection {
    background: #DFBA69;
    color: #FFFEDF;
}

.content .divider *::selection {
    background: #FFFEDF;
    color: #DFBA69;
}

.content .divider *::-moz-selection {
    background: #FFFEDF;
    color: #DFBA69;
}

.content a {
    color: #5A2E2E;
}

.content a:hover {
    color: inherit; ;
}

/* FACEBOOK */
.fb-comments {
    margin-left: auto;
    margin-right: auto;
}

.facebook-wrapper {
    text-align: center;
}

hr.fleur {
    background: url("/img/fleurdelis2.png");
    display: block;
    width: 150px;
    height: 31px;
    border-top: 0;
    border-bottom: 0;
    margin: 50px auto;
}

hr.section {
    background: url("/img/section.png");
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    width: 100px;
    height: 11px;
    border-top: 0;
    /*padding-bottom: 20px;
    border-bottom: 3px dotted #5A2E2E;*/
    border-bottom: 0;
    margin: 30px auto;
}

hr.footer-dotted {
    border-bottom: 2px dashed #2A2C31;
    border-top: 0;
    margin-bottom: 8px;
    margin-top: 30px;
}

hr.blog-divider {
    border-bottom: 1px dashed #5A2E2E;
    border-top: 0;
}

/* FOOTER */
footer {

    z-index: 2;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 110px;
    background-color: #2A2C31;
    color: #FFFEDF;
}

.footer-row {
    padding-top: 40px;
}

#push {
    height: 140px;
}