---
layout: default
---

<div class="row">
    <div class="span6 offset3">
        <img src="/img/lanhoi.jpg" class="img-polaroid">
    </div>
</div>

<!-- 
    <div id="myCarousel" class="carousel slide hidden-phone">
 -->
        <!-- Carousel items -->
<!--         <div class="carousel-inner">
            {% for post in site.posts limit: 3 %}
            {% if forloop.first %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <div class="row">
                    <div class="span8">
                        <img src="{{ post.thumb }}" class="img-polaroid">

                    </div>
                    <div class="span4">
                        <h2><a href="{{ post.url }}" class="whatsnew">{{ post.title }}</a></h2>
                        <p>
                            {{ post.lead | truncate:200 }}
                        </p>
                        <a href="{{ post.url }}">Đọc tiếp...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="span8 carousel-control-wrapper">
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
    </div> -->


<div class="row divider hidden-phone" id="us">
    <div class="span4">
        <strong>CHÚNG TÔI LÀ AI?</strong>
    </div>
    <div class="span6">
        <strong>CHÚNG TÔI LÀM GÌ?</strong>
    </div>
</div>

<div class="row">
<div class="span4">
    <div class="divider visible-phone center">
        <strong>CHÚNG TÔI LÀ AI?</strong>
    </div>
    <p class="who_we_are">
        <em>Chúng tôi là một nhóm học sinh, sinh viên từ nhiều ngành: kinh tế,
kiến trúc, xã hội, công nghệ... tựu chung ở đam mê nghệ thuật,
niềm yêu mến với Việt Nam, với lịch sử, văn hoá và đời sống Việt.</em>

    </p>
</div>
<div class="span7 what_we_do">
    <div class="divider visible-phone center">
        <strong>CHÚNG TÔI LÀM GÌ?</strong>
    </div>
    <p>
        <strong>"Lần Hồi - Mượn rung cảm thời gian"</strong> là một chuỗi triển lãm nghệ thuật
        sắp đặt khám phá lịch sử - văn hoá Việt Nam dưới hình thức mê cung trải nghiệm. Chương trình hân hạnh
        được cố vấn bởi: <strong>Nhà sử học Dương Trung Quốc</strong>,
        <strong>HS/KTS Bùi Hoài Mai</strong>, <strong>KTS Ngô Đình Ngọ</strong>,...
    </p>
    <p>
        Trong 3 ngày từ <em>25 đến 27/01/2013</em>, <strong>“L’anhoi”</strong> – Mê cung chính thức đầu tiên của
        Dự án dự kiến sẽ ra mắt cộng đồng tại nhà 23 lô 11B đường Trung Yên 10, Hà Nội.<br>
    </p>
    <p>Giá vé: 30.000đ <em>(riêng đối tượng trẻ em và học sinh sinh viên là 20.000đ)</em>.</p>
    <!-- <small>(<a>Chi tiết hơn về <strong>Lần Hồi</strong>...</a>)</small> -->
</div>
<!-- <div class="span3 offset1">
    <div class="divider visible-phone center">
        <strong>SỰ KIỆN</strong>
    </div>
    <p>
        
    </p>
</div> -->
</div>

    <div class="row divider center">
        <strong>MỌI NGƯỜI NÓI GÌ VỀ LẦN HỒI?</strong>
    </div>
    <div class="row">
        <div class="span7">
            <div class="fb-comments" data-href="{{site.url}}{{page.url}}"
                data-width="540" data-num-posts="2" data-order-by="reverse_time" >
            </div>
        </div>
        <div class="span5">
            <div class="fb-like-box" data-href="https://www.facebook.com/lanhoiproject" data-width="360" data-show-faces="true" data-stream="false" data-header="false"></div>
        </div>
        
    </div>

    
